.waterMainInfo {
  box-sizing: border-box;
  padding: 60px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 343px;
  border-radius: 30px;
  height: auto;

  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .waterMainInfo {
    box-sizing: border-box;
    padding: 62px 32px;
    width: 704px;
    border-radius: 30px;
    height: auto;

    margin: 0 auto;
  }
}
@media screen and (min-width: 1380px) {
  .waterMainInfo {
    box-sizing: border-box;
    padding: 62px 32px;

    width: 672px;
    border-radius: 30px;
    height: auto;

    margin: 0 auto;
  }
}
