.progressBar {
  padding-top: 215px;
  padding-left: 187px;
}

.progressBarContainer {
  height: 7px;
  width: 200px;
  border: 1px solid #000;
  border-radius: 8px;
  position: relative;
}

.progressBarLine {
  position: absolute;

  height: 7px;
  background-color: teal;
}
