.progressBar {
  box-sizing: border-box;
  margin-top: 16px;
  margin-left: 53px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 198px;
  background-color: #fff;
  padding: 12px;
  border: none;
  border-radius: 15px;
}
.progressBarContainer {
  height: 7px;
  width: 174px;
  border: 1px solid #000;
  border-radius: 8px;
  position: relative;
}
.today {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.progressBarLine {
  position: absolute;
  height: 7px;
  background-color: var(--colorProgress);
}
.progressNumbers {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: rgba(47, 47, 47, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .progressBar {
    margin-top: 16px;
    margin-left: 158px;
    gap: 7px;
    width: 295px;
    padding: 20px;
  }
  .progressBarContainer {
    border: 2px solid #000;
    height: 8px;
    width: 255px;
    border-radius: 9px;
    position: relative;
  }
  .today {
    font-size: 15px;
    line-height: 149%;
  }

  .progressBarLine {
    position: absolute;
    height: 8px;
    border-radius: 9px;
  }
  .progressNumbers {
    font-size: 12px;
    line-height: 187%;
  }
}
@media screen and (min-width: 1380px) {
  .progressBar {
    margin-top: 16px;
    margin-left: 148px;
    width: 296px;
  }

  .progressBarLine {
    position: absolute;
    height: 8px;
    border-radius: 9px;
  }
  .progressNumbers {
    font-size: 12px;
    line-height: 187%;
  }
}
