.btnContainer {
  margin-left: 167px;
  margin-bottom: 15px;
}

.btn {
  box-sizing: border-box;
  width: 137px;
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  border: none;
  background-color: #323f47;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #fff;
  border-radius: 30px;
  padding: 0 15px;
}
.userPhoto {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border: none;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.angleRight {
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .btn {
    box-sizing: border-box;
    width: 157px;
    height: 56px;
    gap: 10px;
    font-size: 16px;
    line-height: 150%;
    padding: 6px 12px;
  }
  .btnContainer {
    margin-bottom: 0px;
  }
}
