.AddWaterBtn {
  padding-left: 180px;
  padding-top: 16px;
}
.btn {
  border-radius: 30px;
  padding: 14px 20px;
  width: 140px;
  height: 46px;
  background-color: #323f47;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border: none;
  transition: color 0.4s ease-in-out;
}
.btn:hover {
  color: var(--coloractive);
}

@media screen and (min-width: 768px) {
  .AddWaterBtn {
    padding-left: 462px;
    padding-top: 0;
  }
  .btn {
    padding: 18px 30px;
    width: 178px;
    height: 60px;
    font-size: 16px;
    line-height: 150%;
  }
}
@media screen and (min-width: 1380px) {
  .AddWaterBtn {
    padding-left: 402px;
    /* padding-top: 18px; */
  }
  .btn {
    padding: 18px 30px;
    width: 178px;
    height: 60px;
    font-size: 16px;
    line-height: 150%;
  }
}
