.name {
  /* font-family: "Gilroy", sans-serif; */
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
}
.userName {
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  .name {
    /* font-family: "Gilroy", sans-serif; */

    font-size: 36px;
    line-height: 106%;
  }
  .userName {
    font-weight: 700;
  }
}
