.pagination {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.right {
  border: none;
  background-color: transparent;
}

.left {
  border: none;
  background-color: transparent;
}

.month {
  width: 150px;
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
}
.paginationChart {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.chart {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .pagination {
    gap: 16px;
    width: 220px;
  }

  .month {
    width: 155px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }
}
