.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(47, 47, 47, 0.6);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99999999;
  transition: opacity 1s ease;
}

.modalContent {
  position: fixed;
  top: 0px;
  left: auto;
  right: auto;
  bottom: auto;
  margin: 0;
  padding: 0;
  /* max-width: 100%; */
  max-height: 900px;
  background-color: #fff;
  height: 1302px;
  width: 343px;
  border-radius: 15px;
  transition: opacity 1s ease;
  overflow-y: scroll;
}

.settingContainer {
  padding: 40px 20px 40px 20px;
}
.settingsHeader {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}
.pic {
  height: 103px;
  margin-bottom: 40px;
}
.radio {
  accent-color: #9be1a0;
}
.fillInForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 14px;
}
.label {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
}
.genderBlock {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 24px;
}
.value {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
}
.field {
  box-sizing: border-box;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px 16px 14px 16px;
  width: 303px;
  height: 46px;
}

.field::placeholder {
  color: teal;
}

.dailyNorma {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  margin-bottom: 14px;
}
.addInfo {
  margin-bottom: 40px;
}

.forWhom {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  margin-bottom: 5px;
}
.formula {
  margin-bottom: 12px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #9be1a0;
}
.calculationInfo {
  box-sizing: border-box;
  padding: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 16px;
  width: 303px;

  margin-bottom: 14px;
}
.requiredTime {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  width: 303px;
  margin-bottom: 14px;
}
.howMuchBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.howMuchWill {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  /* margin-bottom: 12px; */
}
.btn {
  box-sizing: border-box;
  border-radius: 30px;
  padding: 14px 40px;
  width: 116px;
  height: 46px;
  background-color: #9be1a0;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  border: none;
}
/* @media screen and (min-width: 768px) */
@media screen and (min-width: 1200px) {
  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(47, 47, 47, 0.6);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999999;
    transition: opacity 1s ease;
  }

  .modalContent {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: auto;
    /* max-width: 100%;
  max-height: 100%; */
    background-color: #fff;
    height: 244px;
    width: 516px;
    border-radius: 15px;
    transition: opacity 1s ease;
  }

  .addWaterBlock {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .minus {
    border: 1px solid black;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    fill: #fff;
    background-color: black;
  }

  .plus {
    border: 1px solid black;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    fill: #fff;
    background-color: black;
  }
}
