.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(47, 47, 47, 0.6);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99999999;
  transition: opacity 2s ease-in-out;
}

.modalContent {
  position: fixed;
  top: 0px;
  left: auto;
  right: auto;
  bottom: auto;
  margin: 0;
  padding: 0;
  /* max-width: 100%; */
  max-height: 900px;
  background-color: #fff;
  height: 1302px;
  width: 343px;
  border-radius: 15px;
  transition: opacity 1s ease;
  overflow-y: scroll;
  transition: opacity 2s ease-in-out;
}

.settingContainer {
  padding: 40px 20px 40px 20px;
  position: relative;
}

.closeIcon {
  position: absolute;
  top: 2%;
  left: 92%;
  cursor: pointer;
}
.settingsHeader {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}
.pic {
  height: 103px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.radio {
  accent-color: #9be1a0;
}
.fillInForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 14px;
}
.label {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
}
.genderBlock {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 24px;
}
.value {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
}
.field {
  box-sizing: border-box;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px 16px 14px 16px;
  width: 303px;
  height: 46px;
}

.field::placeholder {
  color: #9be1a0;
}
.userPhoto {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: none;
  border-radius: 50%;

  display: block;
  margin: 0 auto 15px auto;
}

.visuallyHidden {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -1px;
  border: 0;
  padding: 0;
  color: #9be1a0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.dailyNorma {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  margin-bottom: 14px;
}
.addInfo {
  margin-bottom: 40px;
}

.forWhom {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  margin-bottom: 5px;
}
.formula {
  margin-bottom: 12px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: #9be1a0;
}
.calculationInfo {
  box-sizing: border-box;
  padding: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 16px;
  width: 303px;

  margin-bottom: 14px;
}
.requiredTime {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  width: 303px;
  margin-bottom: 14px;
}
.howMuchBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.howMuchWill {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  /* margin-bottom: 12px; */
}
.btn {
  box-sizing: border-box;
  border-radius: 30px;
  padding: 14px 40px;
  width: 116px;
  height: 46px;
  background-color: #9be1a0;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  border: none;
}
@media screen and (min-width: 768px) {
  .modalContent {
    top: 64px;
    max-height: 1300px;
    height: 1336px;
    width: 648px;
  }

  .settingContainer {
    padding: 40px 40px;
  }
  .settingsHeader {
    font-size: 28px;
    line-height: 114%;

    margin-bottom: 20px;
  }
  .pic {
    height: 134px;
    margin-bottom: 35px;
  }

  .fillInForm {
    gap: 8px;
    margin-bottom: 24px;
  }
  .label {
    font-size: 18px;
    line-height: 133%;
  }
  .genderBlock {
    gap: 40px;
    margin-bottom: 24px;
  }
  .value {
    font-size: 16px;
    line-height: 129%;
  }
  .field {
    padding: 16px 16px;
    width: 568px;
    height: 56px;
  }

  .dailyNorma {
    font-size: 18px;
    line-height: 133%;
    margin-bottom: 14px;
  }
  .addInfo {
    margin-bottom: 40px;
  }

  .forWhom {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 5px;
  }
  .formula {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 150%;
  }
  .calculationInfo {
    padding: 16px;
    font-size: 16px;
    line-height: 150%;
    width: 568px;
    margin-bottom: 14px;
  }
  .requiredTime {
    font-size: 16px;
    line-height: 150%;
    width: 568px;
    margin-bottom: 14px;
  }
  .howMuchBlock {
    gap: 8px;
  }
  .howMuchWill {
    font-size: 18px;
    line-height: 133%;
  }
  .btn {
    padding: 16px 50px;
    width: 141px;
    height: 56px;

    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  .closeIcon {
    top: 3%;
    left: 95%;
  }
}
@media screen and (min-width: 1380px) {
  .modalContent {
    top: 64px;
    height: 980px;
    width: 960px;
    overflow-y: unset;
  }

  .settingContainer {
    padding: 40px 40px;
  }
  .settingsHeader {
    font-size: 28px;
    line-height: 114%;

    margin-bottom: 20px;
  }
  .pic {
    height: 134px;
    margin-bottom: 35px;
  }
  .flexContainer {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
  .fillInForm {
    gap: 8px;
    margin-bottom: 24px;
  }
  .label {
    font-size: 18px;
    line-height: 133%;
  }

  .genderBlock {
    gap: 40px;
    margin-bottom: 24px;
  }
  .value {
    font-size: 16px;
    line-height: 129%;
  }
  .field {
    padding: 16px 16px;
    width: 400px;
    height: 56px;
  }

  .dailyNorma {
    font-size: 18px;
    line-height: 133%;
    margin-bottom: 14px;
  }
  .addInfo {
    margin-bottom: 40px;
  }

  .forWhom {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 5px;
  }
  .formula {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 150%;
  }
  .calculationInfo {
    padding: 16px;
    font-size: 16px;
    line-height: 150%;
    width: 400px;
    margin-bottom: 14px;
  }
  .requiredTime {
    font-size: 16px;
    line-height: 150%;
    width: 400px;
    margin-bottom: 14px;
  }
  .howMuchBlock {
    gap: 8px;
  }
  .howMuchWill {
    font-size: 18px;
    line-height: 133%;
  }
  .btn {
    padding: 16px 50px;
    width: 141px;
    height: 56px;
    margin-top: 50px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
}
