.signInForm {
  padding: 216px 16px 216px 16px;
  width: 311px;

  border-radius: 30px;

  background-color: #f0eff4;
}

.signIn {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.01em;
}
.form {
  margin: 32px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  gap: 16px;
}

.label {
  display: block;
  padding-bottom: 8px;
}

.field {
  box-sizing: border-box;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px 0px 16px 16px;
  width: 311px;
  height: 50px;
}
.passField {
  position: relative;
}
.faIcon {
  position: absolute;
  top: 60%;
  left: 87%;
}

.btn {
  box-sizing: border-box;

  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  background-color: #9be1a0;
  border-radius: 30px;
  margin-top: 15px;
  width: 311px;
  height: 50px;
}
.offer {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
  text-align: center;
}

.signUp {
  font-weight: 700;
  text-decoration: underline;
  color: #000;
}

@media screen and (min-width: 768px) {
  .signInForm {
    box-sizing: border-box;
    padding: 281px 134px 216px 134px;
    width: 704px;
  }

  .signIn {
    font-size: 36px;
    line-height: 106%;
  }
  .form {
    margin: 32px 0px 32px 0px;
    font-size: 16px;
    line-height: 150%;
    gap: 20px;
  }

  .field {
    padding: 16px 0px 16px 16px;
    width: 436px;
    height: 56px;
  }
  .passField {
    position: relative;
  }
  .faIcon {
    position: absolute;
    top: 60%;
    left: 90%;
  }

  .btn {
    font-size: 16px;
    line-height: 150%;
    margin-top: 15px;
    width: 436px;
    height: 60px;
    margin-top: 15px;
  }
  .offer {
    font-size: 16px;
    line-height: 150%;
  }
}

@media screen and (min-width: 1380px) {
  .signInForm {
    padding: 182px 134px 137px 134px;
    width: 672px;
  }
  .btn {
    margin-top: 15px;
  }
  .passField {
    position: relative;
  }
  .faIcon {
    position: absolute;
    top: 60%;
    left: 95%;
  }
}
