.waterItem {
  box-sizing: border-box;
  padding: 18px;
  background-color: #fff;
  width: 149px;
  height: 74px;
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: unset;
}

.cupIcon {
  background-color: transparent;
  fill: var(--colorbtn);
}

/* .mlTime {
  width: 95px;
} */

.btnBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn {
  border: none;
  background-color: transparent;
}
.penIcon {
  fill: black;
  stroke: black;
}

.trashIcon {
  fill: black;
  stroke: black;
}

.ml {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}
.time {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: rgba(47, 47, 47, 0.6);
}
@media screen and (min-width: 768px) {
  .waterItem {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 192px;
    height: 86px;
    border: none;
    border-radius: 15px;
  }

  .btnBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .ml {
    font-weight: 700;
    font-size: 15px;
    line-height: 149%;
  }
  .time {
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    color: rgba(47, 47, 47, 0.6);
  }
  .penIcon {
    width: 18px;
    height: 18px;
  }

  .trashIcon {
    width: 18px;
    height: 18px;
  }
}
/* @media screen and (min-width: 1200px) */
