.userPanel {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 5px;
}

@media screen and (min-width: 768px) {
  .userPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    /* gap: 260px; */
    padding-top: 5px;
  }
}
@media screen and (min-width: 1380px) {
  .userPanel {
    padding-top: 5px;
  }
}
