.waterDeateiledInfo {
  box-sizing: border-box;
  width: 343px;
  height: 770px;
  padding: 10px;
  background-color: #f0eff4;
  width: 343px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .waterDeateiledInfo {
    width: 704px;
    height: 738px;
    padding: 32px;
    gap: 32px;
  }
}
