.addInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 353px;
}

.square {
  background-color: black;
  opacity: 0.7;
  width: 190px;
  height: 280px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  color: var(--colorMainQuote);
  font-size: 1rem;
  line-height: 1.2;
  font-style: italic;
}
.quote footer {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  color: var(--quoteFooter);
}
@media screen and (min-width: 768px) {
  .addInfo {
    min-height: 446px;
  }

  .square {
    width: 340px;
    height: 280px;
  }
  .quote {
    font-size: 1.3rem;
    line-height: 1.2;
  }

  .quote footer {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1380px) {
  .addInfo {
    min-height: 736px;
  }

  .square {
    width: 340px;
    height: 480px;
  }
  .quote {
    font-size: 1.6rem;
    line-height: 1.4;
  }
  .quote footer {
    font-size: 1.1rem;
  }
}
