.containerDay {
  height: 95px;
}

.swiperContainer {
  width: 100%;
  overflow: hidden;
}

.swiper-container {
  width: 149px;
}
.swiper-slide {
  width: 149px;
  margin-bottom: 10px;
}
.swiper-scrollbar {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 30px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
  padding-top: 10px;
  margin-top: 25px;
  margin-top: -15px; /* to be amended */
}

.swiper-scrollbar-drag {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.swiper-scrollbar:hover {
  opacity: 1;
}

.noData {
  text-align: center;
  padding-top: 15px;
}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  top: var(--swiper-scrollbar-top, 15px);
  z-index: 50;
  height: var(--swiper-scrollbar-size, 4px);
  width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}

@media screen and (min-width: 768px) {
  .containerDay {
    height: 100px;
  }

  .swiperContainer {
    width: 100%;
    overflow: hidden;
  }

  .swiper-container {
    width: 192px;
  }
  .swiper-slide {
    width: 192px;
    margin-bottom: 10px;
  }
  .swiper-scrollbar {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 30px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  .swiper-scrollbar-drag {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  .swiper-scrollbar:hover {
    opacity: 1;
  }

  .noData {
    text-align: center;
    padding-top: 15px;
  }
}
