.containerDay {
  height: 95px;
}

.swiperContainer {
  /* display: flex;
  flex-direction: row;
  gap: 10px; */
  width: 100%;
  overflow: hidden;
}

/* Custom scrollbar styles */
.swiper-container {
  width: 149px;
}
.swiper-slide {
  /* Ensure the slides have appropriate width and margins */
  width: 149px;
  margin-bottom: 10px;
}
.swiper-scrollbar {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 30px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
  /* padding-top: 10px; */
}

.swiper-scrollbar-drag {
  background: rgba(0, 0, 0, 0.5); /* Background color of the draggable part */
  border-radius: 10px; /* Round corners of the draggable part */
}

/* Optional: Hide the scrollbar when not dragging */
.swiper-scrollbar:hover {
  opacity: 1; /* Show scrollbar on hover */
}

.noData {
  text-align: center;
  padding-top: 15px;
}
