.homePage {
  padding: 116px 16px 0px 16px;
  width: 311px;
  border-radius: 30px;
  height: 335px;
  background-color: #f0eff4;
}

.homePageSlogan {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.06em;
  color: var(--main-text);
  padding-bottom: 36px;
}
.homePageHeader {
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: -0.01em;
  padding-bottom: 64px;
}
.homePageRegister {
  padding: 14px 19px;
  border: none;
  color: var(--colorbackgr);
  border-radius: 30px;
  background-color: var(--colorbtn);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  transition: background-color 0.4s ease-in-out;
}
.homePageRegister:hover {
  background-color: var(--coloractive);
  color: black;
}
.homePageSignIn {
  border: 1px solid #323f47;
  color: black;
  border-radius: 30px;
  padding: 14px 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  transition:
    color 0.4s ease-in-out,
    border 0.4s ease-in-out;
}

.homePageSignIn:hover {
  color: var(--coloractive);
  border: 1px solid var(--colorbtn);
}

.homePageBtns {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .homePage {
    box-sizing: border-box;
    padding: 106px 63px 0px 63px;
    width: 704px;
    height: 498px;
  }

  .homePageSlogan {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.06em;
    padding-bottom: 16px;
  }
  .homePageHeader {
    font-size: 64px;
    line-height: 109%;
    letter-spacing: -0.01em;
    padding-bottom: 32px;
    width: 547px;
  }
  .homePageRegister {
    width: 169px;
    height: 60px;
    padding: 18px 40px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
  }
  .homePageSignIn {
    padding: 18px 40px;
    width: 138px;
    height: 60px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
  }

  .homePageBtns {
    gap: 16px;
  }
}
@media screen and (min-width: 1380px) {
  .homePage {
    box-sizing: border-box;
    padding: 188px 63px 0px 63px;
    width: 672px;
    height: 736px;
  }

  .homePageHeader {
    font-size: 80px;
    line-height: 95%;
    padding-top: 16px;
  }
}
