:root {
  font-family: "Roboto", sans-serif;
  color: #323f47;
  --colorbtn: #08068f;
  --colorbackgr: #fff;
  --coloractive: #2528e9;
  --colorMainQuote: bisque;
  --quoteFooter: #ccc;
  --colorProgress: #6fca75;
}

body {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
  background-color: var(--colorbackgr);
}
a {
  text-decoration-line: none;
  text-decoration: none;
  transition: color 250ms linear;
  color: inherit;
}
a:hover,
a:focus,
a:active {
  color: var(--coloractive);
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.stroke {
  color: var(--coloractive);
}
button {
  cursor: pointer;
  border: none;
}
