:root {
  font-family: "Poppins", sans-serif;
  color: #323f47;
  /* background-color: #f0eff4; */
}

/* @media screen and (min-width: 768px) */
/* @media screen and (min-width: 1200px) */

/* a {
  font-weight: 500;
  color: #ff9564;
  text-decoration: inherit;
}
a:hover {
  color: #f28553;
} */

body {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
  background-color: #fff;
}
a {
  text-decoration-line: none;
  text-decoration: none;
  transition: color 250ms linear;
  color: inherit;
}
a:hover,
a:focus,
a:active {
  color: #fd9222;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.stroke {
  color: #9be1a0;
}
button {
  cursor: pointer;
}
