.startPage {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
}

/* .startPage > :nth-child(1) {
    width: 672px;
    
    height: 736px;
    background-color: #f0eff4;
  }
  
  .startPage > :nth-child(2) {
    width: 672px;
    height: 736px;
    border-radius: 30px;
    background-color: #f0eff4;
  } */

@media screen and (min-width: 768px) {
  .startPage {
    gap: 32px;
  }
}
/* @media screen and (min-width: 1200px) */
