.startPage {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  position: relative;
}
.logo {
  position: absolute;
  top: 25px;
  left: 25px;
}

@media screen and (min-width: 768px) {
  .startPage {
    gap: 32px;
  }
}
@media screen and (min-width: 1380px) {
  .startPage {
    flex-direction: row;
    gap: 32px;
  }
}
