.dateAndBtn {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .dateAndBtn {
    gap: 50px;
    /* padding-top: 16px; */
  }
}
@media screen and (min-width: 1380px) {
  .dateAndBtn {
    gap: 50px;
    margin-top: 10px;
  }
}
