.startPage {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.startPage > :nth-child(1) {
  width: 672px;
  border-radius: 30px;
  height: 736px;
  background-color: #f0eff4;
}

.startPage > :nth-child(2) {
  width: 672px;
  height: 736px;
  border-radius: 30px;
  background-color: #f0eff4;
}
