.startPage {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  width: 343px;
  /* height: 411px; */
  position: relative;
}
.logo {
  position: absolute;
  top: 32px;
  left: 32px;
}

@media screen and (min-width: 768px) {
  .startPage {
    width: 704px;
  }
}

@media screen and (min-width: 1380px) {
  .startPage {
    width: 1376px;
    flex-direction: row;
    gap: 32;
  }
}
