.startPage {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  width: 343px;
  /* height: 411px; */
  position: relative;
}
.logo {
  position: absolute;
  top: 32px;
  left: 32px;
}

/* .startPage > :nth-child(1) {
  width: 343px;
  border-radius: 30px;
  height: 411px;
  background-color: #f0eff4;
}

.startPage > :nth-child(2) {
  width: 343px;
  height: 353px;
  border-radius: 30px;
  background-color: #f0eff4;
} */

@media screen and (min-width: 768px) {
  .startPage {
    width: 704px;
  }
}

@media screen and (min-width: 1380px) {
  .startPage {
    width: 1376px;
    flex-direction: row;
    gap: 32;
  }

  /* .startPage > :nth-child(2) {
    width: 672px;
    border-radius: 30px;
    height: 736px;
    background-color: #f0eff4;
  }

  .startPage > :nth-child(3) {
    width: 672px;
    height: 736px;
    border-radius: 30px;
    background-color: #f0eff4;
  } */
}
