.mainPic {
  width: 343px;
  min-height: 353px;
  border-radius: 30px;
}

.pic {
  min-height: 353px;
}

@media screen and (min-width: 768px) {
  .mainPic {
    width: 704px;
    height: 446px;
  }

  .pic {
    border-radius: 30px;
    height: 446px;
  }
}

@media screen and (min-width: 1380px) {
  .mainPic {
    width: 672px;
    height: 736px;
  }

  .pic {
    border-radius: 30px;
    height: 736px;
  }
}
